body {
  background-image: url("../images/green-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.auth-container {
  margin-top: 55px;
  padding: 24px 22px;
  border-radius: 13px;
  background: linear-gradient(180deg, rgba(220, 255, 238, 0.87) 0%, rgba(178, 255, 218, 0.87) 100%);
  box-shadow: 5px 6px 0px 0px rgba(116, 255, 189, 0.60);
  backdrop-filter: blur(16.5px);
  width: 409px;
  height: 523px;
  margin-inline: auto;

  h2 {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
  }

  p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-block: 5px 18px;
  }

  form {
    .input-fields {
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      gap: 7px;

      .group-fields {
        display: flex;
        gap: 7px;
        width: 100%;

        .field {
          width: 100%;
        }
      }

      .field {
        padding: 7px 14px;
        border-radius: 7px;
        border: 1px solid rgba(8, 8, 8, 0.45);
        background: rgba(195, 225, 211, 0.00);
        height: 45px;

        &:focus {
          outline: none;
          border: 2px solid #007D42;
        }
      }

      select {
        option {
          background-color: #caf5e2;
          color: #333;
          padding: 5px;
          font-size: 14px;
        }
      }

      .checkbox-field {
        display: flex;
        align-items: center;
        margin-top: 5px;

        input[type="checkbox"] {
          width: 16px;
          height: 16px;
          cursor: pointer;
          accent-color: #007D42;
        }

        label {
          margin-left: 6px;

          a {
            color: #007D42;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    button[type="submit"] {
      width: 100%;
      height: 46px;
    }
  }

  .auth-links p {
    font-size: 16px;
    color: rgba(8, 8, 8, 0.70);

    a {
      color: #007D42;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}