body {
  background-image: url("../images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
}


.landing-page {
  .hero-text {
    margin-top: 83px;
    max-width: 585px;

    h1 {
      font-family: Kalperica;
      font-size: 57px;
      color: #fff;

      .highlight {
        color: #5DFFB2;
        border-radius: 8px;
        background: linear-gradient(90deg, #132B1F 0%, #3D4C45 100%);
        padding: 3px 5px;
      }
    }

    p {
      color: #E5E6E5;
      font-size: 20px;
      margin-block: 9px 24px;
      font-weight: 300;
    }
  }

  .cta-buttons {
    display: flex;
    gap: 10px;

    .btn-primary,
    .btn-tertiary {
      font-size: 18px;
      padding: 12px 16px;
    }
  }

  .step-cards {
    margin-top: 85px;
    display: flex;
    gap: 20px;

    .card {
      position: relative;
      padding: 20px 19px;
      background: rgba(80, 105, 86, 0.25);
      backdrop-filter: blur(7px);
      border-radius: 20px;
      border: 1px solid rgba(240, 240, 240, 0.418);
      transition: all .3s ease-in-out;

      .card-header {
        display: flex;
        justify-content: space-between;

        .step-title {
          display: flex;
          justify-content: space-between;
          gap: 9px;

          img {
            width: 37px;
            height: 36px;
          }

          h2 {
            color: #FFF;
            font-weight: 600;
            font-size: 25px;
          }
        }

        .step-no {
          color: rgba(219, 243, 232, 0.43);
          text-align: right;
          font-size: 50px;
          font-weight: 600;
          line-height: 64%;
        }
      }

      .step-description {
        margin-block: 8px 20px;
        font-size: 18px;
        font-weight: 300;
        color: #E5E6E5;
      }

      .signup-link {
        display: flex;
        align-items: baseline;
        gap: 6px;
        width: fit-content;

        p {
          color: #FFF;
          font-size: 18px;
          transition: all .3s ease-in-out;
        }
        
        svg path {
          transition: all .3s ease-in-out;

        }

      }

      &:hover {
        border: 1px solid rgba(93, 255, 178, 0.418);
        background: rgba(68, 201, 138, 0.07);

        .signup-link {
          p {
            color: #5DFFB2;
          }

          path {
            stroke: #5DFFB2;
          }
        }
      }
    }
  }
}