{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-container" style="height: 390px; margin-top: 95px;">
  <h2>Login</h2>
  <p>Welcome back!</p>

  <form method="POST" action="{{ url_for('auth.login') }}" class="auth-form">
    <div class="input-fields">
      <input class="field" type="email" id="email" name="email" placeholder="Email Address" required>
      <input class="field" type="password" id="password" name="password" placeholder="Password" required>
      <select class="field" name="user_type" required>
        <option value="" disabled selected hidden>Account Type</option>
        <option value="user">User</option>
        <option value="truck_owner">Truck Owner</option>
      </select>
    </div>

    <button type="submit" class="btn-primary">Login</button>
  </form>


  <div class="auth-links">
    <p>Not a member yet? <a href="{{ url_for('auth.register_user') }}">User Register</a> <a
        href="{{ url_for('auth.register_truck_owner') }}">Trucker Register</a>
    </p>
  </div>

</div>
{% endblock %}